{% load static %}

<div class="about-us-new">
    <section class="about-new">
        <div class="about-new-image">
            <img src="{% static 'images/about_us.jpg' %}">
        </div> 
        <div class="about-content-new">
            <h2>INUA COLLECTIVE SOCIETY</h2>
            <p>is a non-profit organization with
                operations in the BC Lower mainland. INUA is a Swahili word which
                translates to elevate or uplift. INUA Collective society strives to
                elevate and up-skill the welfare of BIPOC and other racialized
                communities in BC lower mainland. INUA Collective Society hopes
                to achieve its goal through supporting, showcasing, and
                empowering the communities they work with through Arts, Sports,
                capacity building and entrepreneurship.</p>
            <a class="about-new-more" href="{% url  'inua:aboutus' %}">Learn More</a>
        </div>
    </section>
</div> 