{% load static %}
<section>
    <div class="about-us-body">
        <img src="{% static 'images/about_us.jpg'%}">
        <div class="about-content">
            <h2>INUA COLLECTIVE SOCIETY</h2>
            <p>is a non-profit organization with
            operations in the BC Lower mainland. INUA is a Swahili word which
            translates to elevate or uplift. INUA Collective society strives to
            elevate and up-skill the welfare of BIPOC and other racialized
            communities in BC lower mainland. INUA Collective Society hopes
            to achieve its goal through supporting, showcasing, and
            empowering the communities they work with through Arts, Sports,
            capacity building and entrepreneurship.</p>
            <div  class="aboutus-more-btn"><a href="{% url 'main:aboutus' %}">Learn More</a></div>
        </div>
</section>